-- Summary: updates Cycle and RunType in the 3 main tables
--
Truncate Table [SUPPLY_COMMIT].[DEMAND_SUPPORTABILITY_Temp]
go
-- Determine Cycle and Run_Type
DECLARE @dCycle AS DATE;
DECLARE @sRunType as varchar(10)
Set @dCycle = dbo.DSGetPriorMonday(getDate())
Set @sRunType = dbo.DSGetCDPRunType(getDate())

-- MAIN
UPDATE [SUPPLY_COMMIT].[LATENESS_RAW]    SET CYCLE = @dCycle, RUN_TYPE = @sRunType WHERE CYCLE IS NULL;
UPDATE [SUPPLY_COMMIT].[DEMAND_PRIORITY] SET CYCLE = @dCycle, RUN_TYPE = @sRunType WHERE CYCLE IS NULL;
INSERT INTO [SC_PLN_DS].[SUPPLY_COMMIT].[DEMAND_SUPPORTABILITY_Temp]
SELECT [Source Plant]
      ,[Source Plant Name]
      ,[Source Plant Material Status]
      ,[Item Priority]
      ,[Material]
      ,[Material_6D]
      ,[Material Description]
      ,[Family Code]
      ,[Brand]
      ,[Major Category]
      ,[Category Description]
      ,[Major Inventory Description]
      ,[Item Group]
      ,[Inventory Description]
      ,[Launch Basic]
      ,[Supply Demand Type]
      ,[Global ABCD]
      ,[Local ABCD]
      ,[Hero]
      ,[Region]
      ,[SAP_REGION]
      ,[Affiliate]
      ,[Location]
      ,[Location Desc]
      ,[Market]
      ,[Fiscal Week]
      ,[Fiscal Month]
      ,[Fiscal_Month]
      ,[Fiscal Year]
      ,[Month]
      ,[Quarter]
      ,[Resource Classification]
      ,[Material Capacity Constraints]
      ,[Material Leadtime Constraints]
      ,[Material Broken Network Constraints]
      ,[Mass Capacity Shortage]
      ,[F&A Capacity Shortage]
      ,[Frozen Window Constrants]
      ,[LeadTime Before Current Constraints]
      ,[Planning Calendar Constraints]
      ,[Effectivity Constraints]
      ,[Broken Network Constraints]
      ,[Review Flag]
      ,[MM To Action]
      ,[MM Reviewed]
      ,[Mass to Action]
      ,[Mass Reviewed]
      ,[INVTYPE]
      ,[CHANNEL]
      ,[CHANNEL_NAME]
      ,[KEYACCOUNT]
      ,[CURRENCY]
      ,[Late Qty]
      ,[Late Qty Proportion]
      ,[Late Qty EX]
      ,[On Time Supportability]
      ,[On Time Supportability Proportion]
      ,[On Time Supportability EX]
      ,[Demand Qty]
      ,[Demand Qty Proportion]
      ,[Demand Qty EX]
      ,[On Time Quantity]
      ,[On Time Quantity Proportion]
      ,[On Time Quantity EX]
      ,[Un-Supportability]
      ,[Un-Supportability Proportion]
      ,[Un-Supportability EX]
      ,[TOTAL_SELLIN_TOTAL]
      ,[TOTAL_SELLIN]
      ,[TOTAL_SELLIN_PROPORTION]
      ,[$_SELL_IN_PER_PIECE]
      ,[TOTAL_SELLIN_VALUE_TOTAL]
      ,[TOTAL_SELLIN_VALUE]
      ,[TOTAL_SELLIN_VALUE_EX]
      ,[TOTAL_CDP_TOTAL]
      ,[TOTAL_CDP]
      ,[TOTAL_CDP_PROPORTION]
      ,[TOTAL_CDP_VALUATION]
      ,[TOTAL_SELLTHRU_TOTAL]
      ,[TOTAL_SELLTHRU]
      ,[TOTAL_SELLTHRU_PROPORTION]
      ,[$_SELL_THRU_PER_PIECE]
      ,[$_SELL_THRU_PER_PIECE_EX]
      ,[TOTAL_SELLTHRU_VALUE_TOTAL]
      ,[TOTAL_SELLTHRU_VALUE_EX]
      ,[FINAL_PRICE_USD]
      ,[FINAL_PRICE_LOCAL]
      ,[EXCHANGE RATE FINAL PRICE]
      ,[EXCHANGE RATE DB]
      ,[LOAD_MONTH]
      ,[LOAD_DATE]
      ,CASE 
			WHEN [CYCLE] IS NULL THEN @dCycle ELSE CYCLE END AS CYCLE
	  ,CASE 
			WHEN [RUN_TYPE] IS NULL THEN @sRunType
			ELSE [RUN_TYPE]
	   END AS RUN_TYPE,
	archLoadDate
  
  FROM [SC_PLN_DS].[SUPPLY_COMMIT].[DEMAND_SUPPORTABILITY]
  ;
