
DECLARE @RUN_TYPE AS VARCHAR(10);
DECLARE @WEEK as Date;
SET @RUN_TYPE = dbo.DSGetCDPRunType(getDate());
SET @WEEK = dbo.DSGetPriorMonday(getDate());


INSERT INTO [SUPPLY_COMMIT].[PBI_RESULT]

SELECT

a.*,
COALESCE(b.PRIMARY_RISK_UNITS, 0) AS PRIMARY_RISK_UNITS,
COALESCE(b.PRIMARY_RISK_UNITS_DRIVER, '') AS PRIMARY_RISK_UNITS_DRIVER,
COALESCE(b.PRIMARY_RISK_DOLLARS, 0) AS PRIMARY_RISK_DOLLARS,
COALESCE(b.PRIMARY_RISK_DOLLARS_DRIVER, '') AS PRIMARY_RISK_DOLLARS_DRIVER

FROM [SUPPLY_COMMIT].[STG_PBI_RESULT] a 
LEFT JOIN [SUPPLY_COMMIT].[RCA] b ON
		a.[SKU_10D] = b.[SKU_10D] AND
		a.[LOCATION] = b.[LOCATION] AND
		a.[FISCAL_MONTH] = b.[FISCAL_MONTH] AND
		a.[FISCAL_YEAR] = b.[FISCAL_YEAR] AND
		a.[MARKET] = b.[MARKET] AND
		a.[RUN_TYPE] = b.[RUN_TYPE] AND
		a.[CYCLE] = b.[CYCLE] AND
		a.[DEMAND_PRIORITY_12D] = b.[DEMAND_PRIORITY_12D]
WHERE a.CYCLE = @WEEK AND a.RUN_TYPE = @RUN_TYPE
;