Drop table [SC_PLN_DS].[SUPPLY_COMMIT].[LATENESS_RAW_HISTORY]
go
SELECT *
INTO [SC_PLN_DS].[SUPPLY_COMMIT].[LATENESS_RAW_HISTORY]
FROM [SC_PLN_DS].[SUPPLY_COMMIT].[RAW_LATENESS]

ALter TABLE [SUPPLY_COMMIT].[LATENESS_RAW_HISTORY] ADD archLoadDate DateTime Null
go
ALTER TABLE [SUPPLY_COMMIT].[LATENESS_RAW_HISTORY] ADD  CONSTRAINT [DF_LATENESS_RAW_HISTORY_archLoadDate]  DEFAULT (getdate()) FOR [archLoadDate]
GO

Drop table [SC_PLN_DS].[SUPPLY_COMMIT].[DEMAND_PRIORITY_HISTORY]
go
SELECT *
INTO [SC_PLN_DS].[SUPPLY_COMMIT].DEMAND_PRIORITY_HISTORY
FROM [SC_PLN_DS].[SUPPLY_COMMIT].DEMAND_PRIORITY

ALter TABLE [SUPPLY_COMMIT].DEMAND_PRIORITY_HISTORY ADD archLoadDate DateTime Null
go
ALTER TABLE [SUPPLY_COMMIT].DEMAND_PRIORITY_HISTORY ADD  CONSTRAINT [DF_DEMAND_PRIORITY_HISTORY_archLoadDate]  DEFAULT (getdate()) FOR [archLoadDate]
GO
